# Django
DJANGO_SECRET_KEY=SUPER_SECRET_KEY
DJANGO_DEBUG=1

# PostgreSQL
DB_NAME=proxy_service
DB_USER=proxy_user
DB_PASSWORD=proxy_password
DB_HOST=postgres
DB_PORT=5432

# Redis / Celery / Channels
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Frontend
VITE_API_BASE_URL=http://localhost:8000/api
